.bg{
  /* The image used */
    
    width: 100%;
    max-width: 880px;
    transform: translate(0, 0);
    border: 20px solid #fff;
    border-radius: 50px;
    background: url(http://sarahmhigley.com/static/images/sidebar-bg.png) no-repeat center center;
    background-size: cover;
    
}

.days{
  transform:translate(-10%,0);
}

